{% if config.github %}
<!-- GitHub star -->
<a href="https://github.com/{{config.github}}" target="_blank" aria-label="Star {{config.github}} on GitHub"><img src="https://img.shields.io/github/stars/{{config.github}}?style=social" alt="Star"></a>
<!-- GitHub fork -->
<a href="https://github.com/{{config.github}}" target="_blank" aria-label="Fork {{config.github}} on GitHub"><img src="https://img.shields.io/github/forks/{{config.github}}?style=social" alt="Fork"></a>
{% endif %}

{% if config.npm %}
<!-- NPM Download -->
<a href="https://www.npmjs.com/package/{{config.npm}}" target="_blank" aria-label="{{config.name}} on NPM"><img src ="https://img.shields.io/npm/dm/{{config.npm}}?logo=npm&style=social" alt="NPM Downloads"></a>
{% endif %}

{% if config.twitter %}
<!-- Twitter follow button -->
<a href="https://twitter.com/{{config.twitter}}" target="_blank" aria-label="Follow {{config.twitter_name}} on Twiitter"><img src="https://img.shields.io/twitter/follow/{{config.twitter}}?style=social" alt="Follow @{{config.twitter}}"></a>
{% endif %}
