{% if site.data.project.github %}
<!-- GitHub star -->
<a href="https://github.com/{{site.data.project.github}}" target="_blank" aria-label="Star {{site.data.project.github}} on GitHub"><img src="https://img.shields.io/github/stars/{{site.data.project.github}}?style=social" alt="Star"></a>
<!-- GitHub fork -->
<a href="https://github.com/{{site.data.project.github}}" target="_blank" aria-label="Fork {{site.data.project.github}} on GitHub"><img src="https://img.shields.io/github/forks/{{site.data.project.github}}?style=social" alt="Fork"></a>
{% endif %}

{% if site.data.project.npm %}
<!-- NPM Download -->
<a href="https://www.npmjs.com/package/{{site.data.project.npm}}" target="_blank" aria-label="{{site.data.project.name}} on NPM"><img src ="https://img.shields.io/npm/dm/{{site.data.project.npm}}?logo=npm&style=social" alt="NPM Downloads"></a>
{% endif %}

{% if site.data.project.twitter %}
<!-- Twitter follow button -->
<a href="https://twitter.com/{{site.data.project.twitter}}" target="_blank" aria-label="Follow {{site.data.project.twitter_name}} on Twiitter"><img src="https://img.shields.io/twitter/follow/{{site.data.project.twitter}}?style=social" alt="Follow @{{site.data.project.twitter}}"></a>
{% endif %}
